{$MASTODON_DOMAIN} {
  handle /api/v1/streaming* {
    reverse_proxy mastodon-streaming:4000
  }

  handle {
    reverse_proxy mastodon-web:3000
  }
}

{$MASTODON_S3_DOMAIN} {
  handle {
    rewrite * {$MASTODON_S3_PATH_PREFIX}{uri}
    reverse_proxy {$MASTODON_S3_ENDPOINT} {
      header_up -Host
    }
  }
}
